<h1>Pics du Caine</h1>
<div class="row">
  <div class="col-xs-4">

    <%= image_tag "caine1.jpg", class: "caine1 img-responsive"%>
    <%= image_tag "caine3.jpg", class: "caine3 img-responsive"%>

  </div>
</div>
